{% extends 'base.html.twig' %}

{% block body %}
	<h1>Erreur interne</h1>

	<p>Une erreur est survenue. Veuillez contacter un administrateur.</p>
	<a href="{{ path('app_sortie_list') }}">retour à la page d'accueil</a>
{% endblock %}
